*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    perspective:1000px;
}
.dice{
    background: #5e5656;
    width: 500px;
    height: 500px;
    position:relative;
    transform-style:preserve-3d;
    animation:rotateDice 6s linear infinite;
}
.face{
      position:absolute;
      width:150px;
      height:150px;
      background:white;
      border:3px solid black;
      border-radius:15px;
      display:grid;
      grid-template-columns:repeat(3,1fr);
      grid-template-rows:repeat(3,1fr);
      padding:12px;
}
.dot{
      width:20px;
      height:20px;
      background:black;
      border-radius:50%;
      justify-self:center;
      align-self:center;
    }

 