*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-contanier{
    background: pink;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sub-main{
    background: palevioletred;
    width: 200px;
    height: 200px;
}