*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:black;
    overflow:hidden;
}
.solar-system{
    position: relative;
    width: 800px;
    height:500px;
}
.sun{
    position: absolute;
    width: 80px;
    height:80px;
    background:orange;
    border-radius:50%;
    box-shadow: 0 0 40px orange;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.orbit{
    position: absolute;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mercury-orbit{
    width: 200px;
    height: 200px;
    animation: rotate 8s linear infinite;
}
.mercury{
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(100, 19, 19, 0.974);
    border-radius: 50%;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
}
.venus-orbit{
    width: 300px;
    height: 300px;
    animation: rotate 12s linear infinite;
}
.venus{
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgba(180, 139, 139, 0.974);
    border-radius: 50%;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);

}
.earth-orbit{
    width: 400px;
    height: 400px;
    animation: rotate 16s linear infinite;
}
.earth{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(135, 206, 235, 0.974);
    border-radius: 50%;
    top: 50%;
    left: -18px;
    transform: translateY(-50%);
}
.moon-orbit{
    width: 60px;
    height: 60px;
    top: 50%;
    left: 0.5%;
    transform: translate(-50%, -50%);
    animation: moonRotate 3s linear infinite;
}
.moon{
    position: absolute;
    width: 10px;
    height: 10px;
    background: lightgray;
    border-radius: 50%;
    top: 40%;
    left: -5px;
    transform: translateY(-50%);
}
.mars-orbit{
    width: 520px;
    height: 520px;
    animation: rotate 20s linear infinite;
}
.mars{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(100, 41, 19, 0.974);
    border-radius: 50%;
    top: 50%;
    left: -25px;
    transform: translateY(-50%);
}
.jupiter-orbit{
    width: 650px;
    height: 650px;
    animation: rotate 25s linear infinite;
}
.jupiter{
    position: absolute;
    width: 60px;
    height: 60px;
    background: rgba(180, 139, 139, 0.974);
    border-radius: 50%;
    top: 50%;
    left: -28px;
    transform: translateY(-50%);

}

@keyframes rotate{
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to{
        transform: translate(-50%, -50%) rotate(360deg)
    }
}
 @keyframes moonRotate{
    from{
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}